<section class="banner">
  <h2 class="banner__titulo">Boas-vindas ao <br>#CodeChella2023!</h2>
</section>
<section class="principal__local">
  <img src="../../../assets/imgs/Tema Verão/Desktop/Imagens/1 - Imagem homepage1.png" alt="">
  <article class="principal__card">
    <div class="principal__card-cabecalho">
      < 11 e 12 de Março>
        Aluródromo de São Paulo
    </div>
    <div class="principal__card-descricao">
      <p class="principal__card-texto">Hora de programar nossa memória com novas lembranças! Uma nova experiência sobre música, linguagens e, claro,
        tecnologia! Somos um festival diverso, com vários artistas e referências. Divirta-se!</p>
    </div>
    <button (click)="redirecinarParaIngresso()">Garantir Ingresso</button>
  </article>
</section>
