<section class="banner">
  <h2 class="banner__titulo">Boas-vindas ao <br>#CodeChella2023!</h2>
</section>
<section class="principal">
  <img class="principal__img" src="../../../assets/imgs/Tema Verão/Desktop/Imagens/homepage1.png" alt=>
  <article class="principal__card">
    <div class="principal__card-cabecalho">
      < 11 e 12 de Março>
        Aluródromo de São Paulo
    </div>
    <div class="principal__card-descricao">
      <p class="principal__card-texto">Hora de programar nossa memória com novas lembranças! Uma nova experiência sobre música, linguagens e, claro,
        tecnologia! Somos um festival diverso, com vários artistas e referências. Divirta-se!</p>
    </div>
    <button class="principal__card-ingresso" (click)="redirecinarParaIngresso()">Garantir Ingresso!<img src="../../../assets/imgs/Tema Verão/Desktop/Ícones/pngs/ícone ingresso.png" alt=""></button>
  </article>
</section>

<section class="artistas">
  <div class="artistas__cabecalho">
    <h2 class="artistas__cabecalho-titulo ff-calistoga">/Line-Up/</h2>
  </div>
  <div class="artistas__data">
  <span class="artistas__data-linha1"></span>
    <h2 class="artistas__data-subtitulo ff-calistoga">SÁBADO <11/03> </h2>
  <span class="artistas__data-linha2"></span>
</div>
  <article class="artistas__descricao">
    <p class="artistas__texto">System of a DOM</p>
    <ul class="artistas__texto-linha1">
      <li class="artistas__texto">Python Maiden    </li>
      <li class="artistas__texto">Apollo Client 2001</li>
      <li class="artistas__texto">Bon Java</li>
      <li class="artistas__texto">NickCallback</li>
    </ul>
    <p class="artistas__texto"></p>
    <p class="artistas__texto">Linkin Promises Fullstack Fighters Papa React Angular in Chains</p>
    <p class="artistas__texto">Agnostic Front-end SlipkNode Pink Flutter Kiss</p>
  </article>
</section>
