<header class="cabecalho">
  <img src="../../../assets/imgs/Logo-branco.png" alt="Logo da Code-Chella">
  <nav class="cabecalho__navegacao">
    <ul class="cabecalho__navegacao-lista">
      <li class="cabecalho__navegacao-item"><a routerLink="/principal">A experiência</a></li>
      <li class="cabecalho__navegacao-item"><a routerLink="/ingresso">Mapa de Setores</a></li>
      <li class="cabecalho__navegacao-item"><a routerLink="/ingresso">Informações</a></li>
      <li class="cabecalho__navegacao-item"><a routerLink="/ingresso">Ingresso</a></li>
    </ul>
  </nav>
</header>
